<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shortcuts</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>EC682CF5-EE7B-4F3C-89E3-B738B5C68EC2</string>
			<key>AccountIdentifier</key>
			<string>C93D5479-6BA1-4E04-9C5D-978EF4174B8F</string>
			<key>Name</key>
			<string>Select Area to Capture</string>
			<key>HotkeyFlags</key>
			<integer>0</integer>
			<key>HotkeyCode</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Accounts</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Default Imgur</string>
			<key>Type</key>
			<string>Imgur</string>
			<key>Identifier</key>
			<string>E31AA727-7F9E-4B8A-881C-5F91F5BE0189</string>
			<key>ReadOnly</key>
			<false/>
			<key>Options</key>
			<dict>
				<key>client_id</key>
				<string>252eab4a4dee27d</string>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Default Imgur</string>
			<key>Type</key>
			<string>Anonymous Imgur</string>
			<key>Identifier</key>
			<string>C93D5479-6BA1-4E04-9C5D-978EF4174B8F</string>
			<key>ReadOnly</key>
			<true/>
			<key>Options</key>
			<dict>
				<key>client_id</key>
				<string>252eab4a4dee27d</string>
			</dict>
		</dict>
	</array>
	<key>NumberOfHistoryItems</key>
	<integer>10</integer>
	<key>PlaySoundAfterUpload</key>
	<true/>
	<key>FirstRun</key>
	<true/>
	<key>New item</key>
	<string></string>
	<key>ImgurClientSecret</key>
	<string>c99183d23bc09116999bdfb30974d53805f34feb</string>
	<key>ImgurClientID</key>
	<string>252eab4a4dee27d</string>
</dict>
</plist>
