<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableDockIcon</key>
	<false/>
	<key>EnableNotifications</key>
	<true/>
	<key>EnableUploads</key>
	<true/>
	<key>EnableSound</key>
	<true/>
	<key>EnableDrag</key>
	<true/>
	<key>DragAccountIdentifier</key>
	<string>C93D5479-6BA1-4E04-9C5D-978EF4174B8F</string>
	<key>Shortcuts</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>EC682CF5-EE7B-4F3C-89E3-B738B5C68EC2</string>
			<key>AccountIdentifier</key>
			<string>C93D5479-6BA1-4E04-9C5D-978EF4174B8F</string>
			<key>Name</key>
			<string>Select Area - Default Imgur</string>
			<key>Summary</key>
			<string>Upload to Default Imgur on ⇧⌘5</string>
			<key>Action</key>
			<string>SelectArea</string>
			<key>HotkeyFlags</key>
			<integer>1179648</integer>
			<key>HotkeyCode</key>
			<integer>23</integer>
			<key>AnnotateImage</key>
			<false/>
			<key>ScaleImage</key>
			<false/>
		</dict>
	</array>
	<key>Accounts</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Default Imgur</string>
			<key>Summary</key>
			<string>Anonymously Upload to Imgur</string>
			<key>Type</key>
			<string>Imgur</string>
			<key>Identifier</key>
			<string>C93D5479-6BA1-4E04-9C5D-978EF4174B8F</string>
			<key>ReadOnly</key>
			<true/>
		</dict>
	</array>
	<key>NumberOfHistoryItems</key>
	<integer>10</integer>
	<key>PlaySoundAfterUpload</key>
	<true/>
	<key>FirstRun</key>
	<true/>
	<key>StartAtLogin</key>
	<true/>
	<key>ImgurClientSecret</key>
	<string>c99183d23bc09116999bdfb30974d53805f34feb</string>
	<key>ImgurClientID</key>
	<string>252eab4a4dee27d</string>
</dict>
</plist>
