<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableDesktopWatcher</key>
	<true/>
	<key>FirstRun</key>
	<true/>
	<key>ImgurKey</key>
	<string>imgur_page</string>
	<key>ImgurLinkType</key>
	<string>Copy URL to Webpage</string>
	<key>NumberOfHistoryItems</key>
	<integer>10</integer>
	<key>PlaySoundAfterUpload</key>
	<true/>
	<key>UploadType</key>
	<string>Imgur</string>
	<key>UseURLShortener</key>
	<false/>
	<key>S3ReducedSedundancyStorage</key>
	<true/>
</dict>
</plist>
